<script type="text/javascript" src="/base/javascript/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/base/javascript/echarts.min.js"></script>
<script type="text/javascript" src="/base/javascript/worldcloud.js"></script>
<style type="text/css">
.dbcontainer{
width:920px;margin-right: auto;margin-left: auto;
}
</style>
<div style="height:100px;margin-top:25px;background-color:#fff">
  <div class="dbcontainer">
    <div class="row row1">
      <div>
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div style="background-color:#EEEEEF;height:150px">
	<div class="dbcontainer">
		<div class="row row1">
			<p style="margin-top:20px"><h3>上海仪电集团统一数据管理开发平台</h3></p>
			<hr style="border:none;border-top:1px solid #849ABF;"/>
			<p><span>上海仪电集团中央研究院基于云计算和大数据技术，对于上海市智慧城市相关应用及数据进行整合和支持。本平台作为相关数据成果的发布，展示和交流平台。</span></p>
		</div>
	</div>
</div>
<style type="text/css">
.p_icon{
float:left;margin-left:18px;border-radius: 50%;height:115px;width:115px;cursor:pointer;
}
.p_icon:hover{
	background-color:#020F5B
}
.p_table{
	width:100%;height:100px;text-align:center
}
.p_table td{
	font-size:16px;font-weight:bold
}
</style>
<div style="background-color:#fff;height:270px">
	<div class="dbcontainer">
		<div class="row row1">
			<p style="margin-top:20px"><h3>主题</h3></p>
			<hr style="border:none;border-top:2px solid #EEEEEF;"/>
			<p>
				<div onclick="location.href='/zh_CN/group/smart_edu_health'">
					<div class="p_icon">
						<img src="/base/images/icon1.png" style="position:relative;top:30px;left:32px;">
					</div>
					<span style="position:absolute;top:210px;left:48px;">智慧教卫<span>
				</div>
				<div onclick="location.href='/zh_CN/group/smart_tracing'">
					<div class="p_icon">
						<img src="/base/images/icon2.png" style="position:relative;top:36px;left:32px;">
					</div>
					<span style="position:absolute;top:210px;left:180px;">智慧溯源<span>
				</div>
				<div onclick="location.href='/zh_CN/group/smart_manufacture'">
					<div class="p_icon">
						<img src="/base/images/icon3.png" style="position:relative;top:33px;left:32px;">
					</div>
					<span style="position:absolute;top:210px;left:313px;">智能制造<span>
				</div>
				<div onclick="location.href='/zh_CN/group/smart_buildig'">
					<div class="p_icon">
						<img src="/base/images/icon4.png" style="position:relative;top:30px;left:32px;">
					</div>
					<span style="position:absolute;top:210px;left:446px;">智慧照明<span>
				</div>
				<div onclick="location.href='/zh_CN/group/smart_security'">
					<div class="p_icon">
						<img src="/base/images/icon5.png" style="position:relative;top:36px;left:38px;">
					</div>
					<span style="position:absolute;top:210px;left:581px;">智能安防<span>
				</div>
				<div onclick="location.href='/zh_CN/group/smart_transportation'">
					<div class="p_icon">
						<img src="/base/images/icon6.png" style="position:relative;top:35px;left:32px;">
					</div>
					<span style="position:absolute;top:210px;left:713px;">智慧交通<span>
				</div>
				<div onclick="location.href='/zh_CN/group/smart_energy'">
					<div class="p_icon">
						<img src="/base/images/icon7.png" style="position:relative;top:33px;left:23px;">
					</div>
				<span style="position:absolute;top:210px;left:843px;">智慧能源<span>
				</div>
			</p>
		</div>
	</div>
</div>
<div style="background-color:#fff;height:220px">
	<div class="dbcontainer">
		<div class="row row1">
			<p style="margin-top:20px"><h3>上海仪电d-stack数据平台统计</h3></p>
			<hr style="border:none;border-top:2px solid #EEEEEF;"/>
			<p>
				<table class="p_table">
					<tr><td>数据集</td><td>公司</td><td>板块</td></tr>
					<tr><td id="ds">0</td><td id="org">0</td><td id="plate">0</td></tr>
				</table>
			</p>
		</div>
	</div>
</div>
<script>
	function createRandomItemStyle(nameT) {
		return {
			name: nameT,
			value: Math.round(Math.random() * 1000 + 1),
			itemStyle: {
				normal: {
					color: 'rgb(' + [
						Math.round(Math.random() * 160),
						Math.round(Math.random() * 160),
						Math.round(Math.random() * 160)
					].join(',') + ')'
				}
			}
		};
	}
	function getAjax(){
		$.ajax({
			url: 'http://210.14.69.106:5000/api/3/action/organization_list',
			type: 'GET',
			success: function (list) {
				if(list.result){
					$("#org").html(list.result.length);
				}
			}
		});
		$.ajax({
			url: 'http://210.14.69.106:5000/api/3/action/package_list',
			type: 'GET',
			success: function (list) {
				if(list.result){
					$("#ds").html(list.result.length);
				}
			}
		});
		$.ajax({
			url: 'http://210.14.69.106:5000/api/3/action/group_list',
			type: 'GET',
			success: function (list) {
				if(list.result){
					$("#plate").html(list.result.length);
				}
			}
		});
		$.ajax({
			url: 'http://210.14.69.106:5000/api/3/action/tag_list',
			type: 'GET',
			success: function (list) {
				if(list.result){
					var dom = document.getElementById('chart_temperature');
					var myChart = echarts.init(dom);
					var dataT=[];
					for(var i = 0 ; i < list.result.length;i++){
						var dataI = createRandomItemStyle(list.result[i]);
						dataT.push(dataI);
					}
					console.log(dataT);
					option = {
						series: [{
							type: 'wordCloud',
							size: ['90%', '90%'],
							textRotation : [0, 45, 90, -45],
							textPadding: 0,
							autoSize: {
								enable: true,
								minSize: 14
							},
							data: dataT
						}]
					};
					myChart.setOption(option, true);
				}
			}
		});
		
		
	} 
	getAjax();

</script>
<div style="background-color:#fff;height:500px">
	<div class="dbcontainer">
		<div class="row row1">
			<p style="margin-top:20px"><h3>热门数据</h3></p>
			<hr style="border:none;border-top:2px solid #EEEEEF;"/>
		</div>
		<div id="chart_temperature" style="width:100%;height:400px">
		</div>
	</div>
</div>
